:root {
  --primary-text-color: #212121;
  --title-accent-color: #2196f3;
  --paragrapg-contacts-color: #757575;
  --hero-accent-color: #ffffff;
  --hero-background-color: #2f303a;
  --team-section-background: #f5f4fa;
}

body {
  color: var(--primary-text-color);
  background-color: var(--hero-accent-color);
  font-family: Roboto, sans-serif;
}
/* #212121 text main color */
/* #2196F3 text accent and hover color */
/* #757575 text paragraph and contacts color */
/* #FFFFFF; hero accent and background of the page color*/
/* #2F303A hero background color */
/* #F5F4FA; Our team section background color*/

.list {
  list-style: none;
}
/* brandname */
.brandname {
  /* --new-accent: red: окремий акцент доступний тільки в 1 секції */
  color: var(--primary-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.brandname-one {
  color: var(--title-accent-color);
}
.brandname-two {
  color: var(--hero-accent-color);
}
/* site-nav */
.site-nav .link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-accent-color);
}

/* Headings */
.section-title {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.section-heading {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* paragraphs */
.section-content {
  color: var(--paragrapg-contacts-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* hero */
.hero {
  background-color: var(--hero-background-color);
  color: var(--hero-accent-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  background-color: var(--title-accent-color);
  color: var(--hero-accent-color);
  border-color: transparent;
  cursor: pointer;
  font-family: inherit;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--title-accent-color);
  background-color: var(--hero-accent-color);
}

/* section Наша команда */
.team-section {
  background-color: var(--team-section-background);
}
.team-item {
  background-color: var(--hero-accent-color);
}
/* contacts */
.contacts-nav {
  color: var(--paragrapg-contacts-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-nav:hover,
.contacts-nav:focus {
  color: var(--title-accent-color);
}
.contacts-link {
  color: var(--hero-accent-color);
  opacity: 60%;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--title-accent-color);
}
.contacts-geoposition {
  color: var(--hero-accent-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contacts-geoposition:hover,
.contacts-geoposition:focus {
  color: var(--title-accent-color);
}
/* Navigation-buttons */
.buttons {
  cursor: pointer;
  background-color: var(--team-section-background);
  color: var(--primary-text-color);
  border-color: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.buttons:hover,
.buttons:focus {
  color: var(--hero-accent-color);
  background-color: var(--title-accent-color);
}
/* cards */
.cards {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.cards-content {
  color: var(--paragrapg-contacts-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/* footer */
.page-footer {
  background-color: var(--hero-background-color);
}
