:root {
  --primary-text-color: #212121;
  --title-accent-color: #2196f3;
  --paragrapg-contacts-color: #757575;
  --hero-accent-color: #ffffff;
  --hero-background-color: #2f303a;
  --work-section-background: #e5e5e5;
  --team-section-background: #f5f4fa;
}

body {
  background-color: var(--hero-accent-color);
}
/* #212121 text main color */
/* #2196F3 text accent and hover color */
/* #757575 text paragraph and contacts color */
/* #FFFFFF; hero accent and background of the page color*/
/* #2F303A hero background color */
/* #E5E5E5; Work-section background color */
/* #F5F4FA; Our team section background color*/

.list {
  list-style: none;
}
/* brandname */
.brandname {
  color: var(--primary-text-color);
}
.brandname-one {
  color: var(--title-accent-color);
}
/* site-nav */
.site-nav .link {
  color: var(--primary-text-color);
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-accent-color);
}
/* Headings */
.section-title {
  color: var(--primary-text-color);
  text-decoration: none;
}
/* paragraphs */
.section-content {
  color: var(--paragrapg-contacts-color);
}
/* hero */
.hero {
  background-color: var(--hero-background-color);
  color: var(--hero-accent-color);
}
.hero-button {
  background-color: var(--title-accent-color);
  color: var(--hero-accent-color);
}
/* section Чем мы занимаемся */
.section {
  background-color: var(--work-section-background);
}
/* section Наша команда */
.team-section {
  background-color: var(--team-section-background);
}
.team-item {
  background-color: var(--hero-accent-color);
}
/* contacts */
.contacts-nav {
  color: var(--paragrapg-contacts-color);
}
.contacts-nav:hover,
.contacts-nav:focus {
  color: var(--title-accent-color);
}
.contacts-link {
  color: var(--hero-accent-color);
  opacity: 60%;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--title-accent-color);
}
.contacts-geoposition {
  color: var(--hero-accent-color);
}
/* Navigation-buttons */
.buttons {
  cursor: pointer;
  background-color: var(--team-section-background);
  color: var(--primary-text-color);
}
.buttons:hover,
.buttons:focus {
  color: var(--hero-accent-color);
  background-color: var(--title-accent-color);
}
/* footer */
.page-footer {
  background-color: var(--hero-background-color);
}
.brandname-two {
  color: var(--hero-accent-color);
}
