@import "../utils/animations";
.contacts {
  
    display: flex;
    display: none;

    margin-left: auto;
    color: var(--paragrapg-contacts-color);
}

.contacts__item {
    margin-right: var(--common-margin-gap);
    
    transition-property: fill,
    color;
    @extend %animation;
    
    &:hover {
        fill: var(--title-accent-color);
        color: var(--title-accent-color);
    }
    
    &:last-child {
        margin-right: 0;
    }
}

.contacts__link {
    color: currentColor;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    display: flex;
    align-items: center;

    transition-property: color;
    @extend %animation;

    &:hover,
    &:focus {
        color: var(--title-accent-color);
    }
}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}

